
/* ROOT */
:root{
    /* --header-bg-color: #fff; */
    /* --main-bg-color: #fff; */
    /* --main-text-color: #fff; */
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
    font-family: 'Barlow';
    background: #90D4C6;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}


/******************** HEADER STYLES START *******************/
.site-header{
    padding-top: 34px;
    padding-bottom: 34px;
    background-color: #4ABDF2;
}

.site-header__wrapper{
    width: 100%;
    max-width: 1352px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.sitenav__list{
    display: flex;
    padding-left: 0;
    list-style: none;
}

.sitenav__item:not(:last-child){
    margin-right: 47px;
}

.sitenav__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    text-decoration: none;
    color: #fff;
}

.sitenav__item:last-child .sitenav__link{
    padding: 16px 30px;
    border-radius: 28px;
    background-color: #fff;
    color: #000;
}
/******************** HEADER STYLES END *******************/

/* HERO STYLE START */

.hero{
    width: 100%;
    height: 100%;
    background-image: url(../images/hero_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__wrapper{
    width: 100%;
    position: relative;
}

.hero__info h1{
    padding-top: 190px;
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 69px;
    text-align: center;
    letter-spacing: 8.75px;
    color: #FFFFFF;
}

.hero_arrow_img{
    position: absolute;
    width: 30px;
    height: 107.48px;
    left: 49%;
    top: 46%;
}
/* HERO STYLE END */

.wrapper{
    display: flex;
}
.img1{
    width: 350px;
    height: 400px;
}
.wrapper-2{
    display: flex;
    flex-direction: column;
}
.img2{
    width: 170px;
    margin: 72px auto 40px;
}
.ul1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 88px;
    list-style: none;
}
.li1:not(:last-child){
    padding-right: 57px;
}
.a1{
    color: #458D7E;
    text-decoration: none;
    font-style: normal;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #F2F2F2;
    
}

.container h1{
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 5px;

    color: #A7AAAD;
}

.card{
    /* width: px; */
    height: 300px;
    margin-top: 81px;
    margin-right: 50px;
    text-align: center;
    display: inline-block;
}

.paragrof{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    text-align: center;
    letter-spacing: -0.128571px;

    color: #5B636D;
}

.foot{
    margin-top: 69px;
    font-family: 'Fraunces 9pt Soft';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.128571px;

    color: #24303E;
}

.paragrof-1{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */

    text-align: center;
    letter-spacing: -0.1px;

    color: #A7AAAD;

}

.ul2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 72px;
    list-style: none;
}
.li2:not(:last-child){
    padding-right: 28px;
}
